<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<form action="/test/submit" method="post">
    <label>Your name:</label><br>
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>